body {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: IRANSans;
    /* font-size: 3rem; */
    background: #000 linear-gradient(160deg, #a0039666, #6d06c166);
    direction: rtl;
    font-size: 3rem;
}

/* @media (width <= 600px){
    body {
        font-size: 3rem;
    }
}
@media (width >= 600px){
    body {
        font-size: 1.3rem;
    }
} */


.container {
    width: 80vw;
    /* From https://css.glass */
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8x);
    -webkit-backdrop-filter: blur(8x);
    border: 1px solid rgba(255, 255, 255, 0.22);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 50px 0;
    gap: 30px;

}

.status {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color: silver;
}

.ok {
    background: green;
}

.nok {
    background: red;
}

.redirect {
    margin: auto;
    text-decoration: none;
    background: #000 linear-gradient(160deg, #a0039666, #6d06c166);
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    text-align: center;
    transition: all .3s ease;

}

.redirect:hover {
    background: #0000006e linear-gradient(160deg, #a0039666, #6d06c166);
    transition: all .3s ease;
}

.ref {
    text-align: center;
}

.message {
    text-align: center;
}

.greet {
    text-align: center;
}

